.main-container{
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
}

.site-footer{
        margin-top: auto;
       
}

.detalii-nume{
        list-style-type: none;
        margin-top: 50px;
        margin-left: 20px;
        
}
.nav-link{
        color: whitesmoke;
        margin-right: 8px;
}
.nav-link:hover {
        color: rgb(230, 94, 94);
        margin-right: 8px;
        font-size: 110%;
}
.nav-link.active {
        font-weight: bold;
        color: green;
}




